firmware/build/
hardware/kicad/*.kicad_prl
hardware/kicad/*-backups/
hardware/kicad/fp-info-cache
hardware/kicad/*.lck
__pycache__/
*.pyc
hardware/tools/render3d/node_modules
hardware/tools/render3d/board.wrl
hardware/tools/logs/
